<!DOCTYPE html>
<html 
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/defaultLayout}">
<section layout:fragment="content" class="contents d-flex justify-content-center">
	<div>
		<!-- 검색 바탕 -->
		<div class="search-box d-flex">
			<!-- 돋보기 이미지 -->
			<div class="d-flex align-items-center ml-3">
				<img alt="검색" width="35" src="https://cdn.pixabay.com/photo/2022/03/06/06/39/search-7050945_960_720.png">
				<!-- text -->
				<div class="d-flex ml-4">
					<input id="searchUserTextByLoginId" type="text" class="form-control col-12" placeholder="유저 검색">
					<button id="searchBtn" class="form-control bg-warning col-3">검색</button>
				</div>
			</div>
		</div>
		
		<!-- 유저 조회값 -->
		<div class="search-result-box">
			<div class="ml-3">
				<div>	
					<div class="d-flex justify-content-around" th:each="searchUser : ${searchUserViewList}"> <!-- 여기서 반복문 돌리기 -->
						<!-- 유저 이름 나오게 하기 -->
						<span th:if="${searchUser.user.loginId == session.userLoginId}" th:text="${searchUser.user.loginId}" class="d-none">유저이름</span>
						<span id="userLoginId" th:unless="${searchUser.user.loginId == session.userLoginId}" th:text="${searchUser.user.loginId}">유저이름</span>
						
						
						
						<!-- 상태 표시: 나는 숨겨 -->
						<span id="followerId" th:if="${searchUser.user.loginId == session.userLoginId}" th:data-follower-id class="status bg-success d-none">나야</span>
						<!-- 팔로우 버튼 누르면 팔로우 Controller로 넘어가게 설계 후 API 설계 -->
						<form id="followForm" method="post" action="/follow/request">
							<!--팔로우할 로그인아이디  -->
							<input type="hidden" id="followingUserLoginId" name="followingUserLoginId" th:unless="${searchUser.user.loginId == session.userLoginId}" th:value="${searchUser.user.loginId}">
							<!-- 내 로그인아이디(현재 로그인해서 누른 사람) -->
							<input type="hidden" id="follwerUserLoginId" name="follwerUserLoginId" th:value="${session.userLoginId}">
							<!-- 팔로우 대기 -->
							<input type="hidden" id="followStatus" name="followStatus" th:value="'팔로우 요청 대기'">
							
							
							<!-- [[${searchUser}]] -->
							
							<!-- 
							// null -> 아예 상대방 팔로우 자체도 안 했을 때 -> 팔로우 버튼 뜨게 하기
							// following true, followingApproved false-> 팔로우 요청대기 버튼, 몇 명 팔로우 요청이 들어왔는지
							// following true, followingApproved true -> 글 보기 버튼 
							-->
							<button type="submit" th:if="${searchUser.user.loginId != session.userLoginId && searchUser.followingApproved == null}" class="followBtn form-control status bg-primary">팔로우</button>
							<button type="button" th:if="${searchUser.user.loginId != session.userLoginId && searchUser.following == true && searchUser.followingApproved == true}" class="showPostBtn form-control status bg-success">글보기</button>
							<button type="button" th:if="${searchUser.user.loginId != session.userLoginId && searchUser.following == true && searchUser.followingApproved == false}" class="followStandByBtn form-control status bg-danger">팔로우 요청 대기</button>
							
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<th:block layout:fragment="script">
    <script>
		$(document).ready(function() {
			//alert("응");
			// 검색버튼
			$("#searchBtn").on('click', function() {
				// 이름, 상태 초기화
				
				let loginId = $("#searchUserTextByLoginId").val().trim();
				console.log(loginId);
				if (!loginId) {
					alert("찾을 유저를 입력하세요");
					return;
				}
				
				location.href = "/search/user-view?keyword=" + loginId;
				
				
				/*
				// 폼 태그를 스크립트에서 쓰기
				let formData = new FormData();
				formData.append("loginId", loginId);
				
				//AJAX 시작
				$.ajax({
					type:"Post"
					, url:"/search/result-view"
					, data: formData
					, contentType: false
					, processData: false
					, success:function(data) {
						if (data.code == 200) {
							alert(data.result);
							console.log(data.list);
							
						} else if (data.code == 500){ // 비로그인시 화면 이동
							alert(data.error_message);
							location.href="/user/sign-in-view";
						} else if (data.code == 403) { // 유저 없을 때 메시지
							alert(data.non_user);
							location.reload();
						}
					}
					, error:function(e) {
						alert("유저를 검색하는데 실패했습니다.");
					}
				}); // AJAX 끝
				*/
			}); // 검색버튼 끝
			
			//팔로우 요청 버튼 누를 시
			$("form").on('submit', function(e) {
				//alert("응");
				e.preventDefault();
				

				let followingUserLoginId = $("#followingUserLoginId").val(); // 팔로우 할 아이디
				console.log(followingUserLoginId);
				
				
				//AJAX request 세팅
				let url = $(this).attr('action');
				console.log(url);
				let params = $(this).serialize();
				console.log(params);
				// ajax시작
				$.post(url, params)
				.done(function(data) { //AJAX request
					//AJAX response
					if(data.code == 200) {
						alert(data.result);
						// 팔로우 요청 상태 표시 나타나게 해야 함
						location.reload();
					} else if(data.code = 500) {
						alert(data.error_message);
					}
				});//ajax끝 
			}); //팔로우 버튼끝
			
			// 대기 버튼 끝
			$(".followStandByBtn").on('click', function(e) {
				alert("팔로우 요청 대기 중입니다. 팔로잉 상대가 응답까지 기다리세요.");
			}); // 팔로우요청 대기 버튼 끝
			
			// 글보기
			$(".showPostBtn").on('click', function(e) {
				alert("팔로잉의 글로 이동합니다.");
				location.href="/blog/following-blog-view";
			}); // 글보기 버튼 끝
			
			
		}); // document 끝
    </script>
</th:block>