<!DOCTYPE html>
<html 
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/defaultLayout}">
<section layout:fragment="content" class="contents">
	<!-- 글쓰기 영역(로그인 된 사람만 보임) -->
	<div class="d-flex justify-content-center">
		<!-- 계정 검색 -->
		<a href="/search/user-view" id="searchBtn"><img class="m-4" width="40" height="40" src="https://cdn.pixabay.com/photo/2022/03/06/06/39/search-7050945_960_720.png"></a>
		<!-- 팔로워 요청 -->
		<a href="/follow/request-view" id="followRequestBtn"><img class="m-4" width="40" height="40" src="https://cdn.pixabay.com/photo/2016/03/31/19/14/list-1294835_1280.png"></a>

		<div th:if="${session.userId != null}" class="write-box border rounded m-3">
			<input type="text" id="writeTextAreaSubject" placeholder="제목을 입력해주세요" class="w-100 border-0 form-control mb-2 bg-light">
			<textarea id="writeTextAreaContent" placeholder="내용을 입력해주세요" class="w-100 border-0 form-control"></textarea>
				
			<div class="d-flex justify-content-between file-upload-box">
				<div class="file-upload d-flex">
					<!-- file 태그를 숨겨두고 이미지를 클릭하면 파일을 클릭한 것과 같은 효과를 준다. -->
					<!-- 태그를 바꾸면 다중 이미지 선택이 가능하다. 파일명이 길면 잘리는 것을 대비해서 view를 바꿔야 함 -->
					
					<!-- ~~외 n개 나오게 하기 -->
				    <input type='file' id="file" accept=".jpg, .png, .gif" class="d-none" multiple/>
							
					<!-- 이미지에 마우스 올리면 마우스 커서가 link로 변경 -->
					<a href="#" id="fileUploadBtn"><img width="35" src="https://cdn4.iconfinder.com/data/icons/ionicons/512/icon-image-512.png"></a>
								
					<div id="fileName" class="ml-2"></div>
				</div>
					<button id="writeBtn" class="btn btn-info">업로드</button>
			</div>
		</div>
	</div> <!-- 글쓰기 영역 끝 -->
	<!-- 축약화면을 만들 거다 왼: 내 글, 오른: 팔로잉들의 글 -->
	<div class="d-flex justify-content-center my-5">
	<!-- 내 글 화면 -->
	<div>
	<h3><a href="/blog/my-blog-view">내가 쓴 글</a></h3>
	<!--  <div class="d-flex justify-content-center"> -->
		<div class="my-blog-box">
			<!-- 글 카드 시작 -->
			<th:block th:each="cardView : ${cardViewList}" th:if="${session.userId == cardView.post.userId}">
			<div class="card border rounded mt-3">
				<!-- 글 제목 -->
				<div class="p-2 d-flex">
					<span class="font-weight-bold" th:text="${cardView.post.subject}">글제목</span>
				</div>
			
				<!-- 글쓴이, 더보기(삭제) -->
				<div class="p-2 d-flex justify-content-between">
					<span class="font-weight-bold" th:text="${cardView.user.loginId}">글쓴이</span>
					
					<!-- 더보기 ...(로그인 된 사람과 글쓴이 정보 일치할 때 보이게) -->
					<a th:if="${session.userId == cardView.post.userId}" href="#" class="more-btn" th:data-post-id="${cardView.post.id}" data-toggle="modal" data-target="#modal">
						<img src="https://www.iconninja.com/files/860/824/939/more-icon.png" width="30">
					</a>
				</div>
				
				<!-- 본문 이미지 -->
				<div class="d-flex w-100">
					<div>
						<div th:id="|post${cardView.post.id}|" class="carousel slide card-img" data-bs-ride="carousel" data-bs-touch="false" data-bs-interval="false">
							  <div class="carousel-inner">
								    <!-- 이미지 애니메이션 관련한 라이브러리 찾아보기(자바스크립트) -->
							    <th:block th:each="postImageUrl, a : ${cardView.postImage}">
							    	<!-- th:classAppend란 조건부로 태그에 class를 설정할 수 있는 문법이다. 기존에 있는 클래스들과 함께 쓰일 수 있으며, 새로운 클래스를 추가하는 데 사용된다. -->
							    	<!-- 이를 삼항연산자(boolean)로 안의 태그에 인덱스대로 불러오기 'active'는 말 그대로 구현 아니라면 나머지 코드 진행 -->
								    <div class="carousel-item" th:classappend="${a.index == 0} ? 'active' : null">
									    <img id="img" th:src="${postImageUrl.imageUrl}" class="d-block" alt="블로그 사진">
								    </div>
							    </th:block>
							  </div>
							  <!-- th:data-target의 #은 id jQuery문법 -->
							  <button class="carousel-control-prev" type="button" th:data-target="|#post${cardView.post.id}|" data-slide="prev">
							  	<span class="carousel-control-prev-icon" aria-hidden="true"></span>
								<span class="sr-only">Previous</span>
							  </button>
							  <button class="carousel-control-next" type="button" th:data-target="|#post${cardView.post.id}|" data-slide="next">
							    <span class="carousel-control-next-icon" aria-hidden="true"></span>
							    <span class="sr-only">Next</span>
							  </button>
						</div>
					</div>
				</div>
				
				<!-- 글 -->
				<div class="card-post m-3">
					<span class="font-weight-bold" th:text="${cardView.user.loginId}">글쓴이</span>
					<span th:text="${cardView.post.content}">글 내용</span>
				</div>
				
					<!-- Button trigger modal -->
		<!-- Modal:타임리프 레이아웃 때문에 section 태그 안쪽에 위치 -->
		<div class="modal fade" id="modal">
			<!-- modal-sm:작은 모달창, modal-dialog-centered: 수직 가운데 정렬 -->
		 	<div class="modal-dialog modal-sm modal-dialog-centered">
		    	<div class="modal-content text-center">
		      		<div class="py-3">
		      			<a href="#" id="postDeleteBtn">삭제하기</a>
		      		</div>
		      		<div class="py-3 border-top">
		      			<a href="#" data-dismiss="modal">취소</a>
		      		</div>
		    	</div>
		  </div>
		</div> <!-- 모달 끝 -->
			</div> <!-- card 끝 -->	
			</th:block>
		</div> <!-- my blog box 끝 -->
	<!-- 	</div> -->
		</div>
		
		
		<!-- 팔로잉 글 화면 -->
		<div>
			<h3><a href="/blog/following-blog-view">팔로잉의 글</a></h3>
				<div class="following-blog-box">
					<!-- [[${followViewList}]] -->
					<!-- 글 카드 시작 -->
					<th:block th:each="followView : ${followViewList}">
					
					<div class="card border rounded mt-3" th:if="${#arrays.length(followView.post) > 0}" th:each="post : ${followView.post}">
						<!-- 글 제목 -->
						<div class="p-2 d-flex">
							<span class="font-weight-bold" th:text="${post.subject}">글제목</span>
						</div>
					
						<!-- 글쓴이, 더보기(삭제) -->
						<div class="p-2 d-flex justify-content-between">
							<span class="font-weight-bold" th:text="${followView.user.loginId}">글쓴이</span>
						</div>
						
						<!-- 본문 이미지 -->
						<div class="d-flex w-100">
							<div>
								<div th:id="|post${post.id}|" class="carousel slide card-img" data-bs-ride="carousel" data-bs-touch="false" data-bs-interval="false">
									  <div class="carousel-inner">
										    <!-- 이미지 애니메이션 관련한 라이브러리 찾아보기(자바스크립트) -->
									    <th:block th:each="postImage, a : ${followView.postImage}">
									    	<!-- th:classAppend란 조건부로 태그에 class를 설정할 수 있는 문법이다. 기존에 있는 클래스들과 함께 쓰일 수 있으며, 새로운 클래스를 추가하는 데 사용된다. -->
									    	<!-- 이를 삼항연산자(boolean)로 안의 태그에 인덱스대로 불러오기 'active'는 말 그대로 구현 아니라면 나머지 코드 진행 -->
										    <div class="carousel-item" th:classappend="${a.index == 0} ? 'active' : null">
											    <img id="img" th:src="${postImage.imageUrl}" class="d-block" alt="블로그 사진">
										    </div>
									    </th:block>
									  </div>
									  <!-- th:data-target의 #은 id jQuery문법 -->
									  <button class="carousel-control-prev" type="button" th:data-target="|#post${post.id}|" data-slide="prev">
									  	<span class="carousel-control-prev-icon" aria-hidden="true"></span>
										<span class="sr-only">Previous</span>
									  </button>
									  <button class="carousel-control-next" type="button" th:data-target="|#post${post.id}|" data-slide="next">
									    <span class="carousel-control-next-icon" aria-hidden="true"></span>
									    <span class="sr-only">Next</span>
									  </button>
								</div>
							</div>
						</div>
						<!-- 글 -->
						<div class="card-post m-3">
							<span class="font-weight-bold" th:text="${followView.user.loginId}">글쓴이</span>
							<span th:if="${session.userLoginId != followView.user.loginId}" th:text="${post.content}">글 내용</span>
						</div>
					</div> <!-- card 끝 -->	
					</th:block>
				</div> <!-- following blog box 끝 -->
			</div>
		</div>
	</div>
</section>

<th:block layout:fragment="script">
    <script>
		$(document).ready(function() {
			//alert("응");
			
			// 이미지 파일을 담아놓을 배열
			let inputFileList = new Array();
			
			// 이미지 a태그 => 숨겨져 있는 id="file"움직임
			$("#fileUploadBtn").on('click', function(e) {
				e.preventDefault();
				//alert("클릭");
				$("#file").click(); // file 클릭
			}); // 파일업로드 버튼 = id="file" 끝
			
			
			// 파일이 선택될 때 1. 유효성 체크 2. 파일명 노출
			$("#file").on('change', function(e) {
				// 취소 눌렀을 때 초기화
				let file = e.target.files[0];
				if (file == null) {
					alert("선택 취소를 눌렀습니다. 이미지를 다시 선택하여 주십시오.");
					$("#file").val("");
					$("#fileName").text("");
					return;
				}
				
				// 파일 잘 오는지 확인
				let fileName = e.target.files[0].name;
				//console.log(fileName);
				
				// 1. 확장자 validation
				let ext = fileName.split(".").pop().toLowerCase();
				//console.log(ext);
				
				if (ext != "png" && ext != "gif" && ext != "jpg") {
					alert("이미지만 업로드할 수 있습니다.");
					$("#file").val(""); // 파일 태그에 올라온 것 제거
					$("#fileName").text(""); // 보여지고 있는 파일명 초기화
					return;
				}
				
				// 2. 파일명 노출
				$("#fileName").text(fileName);
				
				// 3. 이미지 파일 선택 최대 5개
				let files = e.target.files;
				let filesArr = Array.prototype.slice.call(files);
				console.log(files);
				console.log(filesArr);
				
				// validation
				if (filesArr.length > 5) {
					alert("이미지는 최대 5개까지 업로드 가능합니다.");
					$("#file").val(""); // 파일 태그에 올라온 것 제거
					$("#fileName").text(""); // 보여지고 있는 파일명 초기화
					return;
				}
				if (files.length <= 5) {
					$("#fileName").text(fileName + " 외 " + (files.length - 1) + "개");
				}
				
				filesArr.forEach(function(f) {
					inputFileList.push(f);	
				}); // 파일 가져오기 배열 끝
				
				
			}); // 파일 선택될 때 끝
			
			// 글쓰기
			$("#writeBtn").on('click', function() {
				//alert("응");
				
				let subject = $("#writeTextAreaSubject").val().trim();
				let content = $("#writeTextAreaContent").val().trim();
				let file = $("#file").val();
				//console.log(subject);
				//console.log(content);
				//console.log(file); // C:\fakepath\pngtree-vector-chat-icon-png-image_322158.jpg
				
				if (!subject) {
					alert("제목을 입력하세요");
					return;
				}
				if (!content) {
					alert("내용을 입력하세요");
					return;
				}
				if (!file) {
					alert("이미지를 선택하세요");
					return;
				}
				
				// 파일이 업로드 된 경우 확장자 체크
				let ext = file.split(".").pop().toLowerCase();
				//console.log(ext);
				if ($.inArray(ext, ['gif', 'png', 'jpg', 'jpeg']) == -1) {
					alert("gif, png, jpg, jpeg 파일만 업로드 할 수 있습니다.");
					$("#file").val(""); // 파일을 비운다.
					return;
				}
				
				// 폼 태그를 자바스크립트에서 하기
				let formData = new FormData();
				formData.append("subject", subject);
				formData.append("content", content);
				//formData.append("file", $('#file')[0].files[0]); //$('#file')[0]은 첫번째 input file 태그를 의미, files[0]는 업로드된 첫번째 파일
				
				console.log(inputFileList);
				for (let i = 0; i < inputFileList.length; i++) {
				　　　　formData.append("file", inputFileList[i]);  //배열에서 이미지들을 꺼내 폼 객체에 담는다.
				}
				
				
				// ajax에 formData 전송
				$.ajax({
					type: "post"
					, url: "/post/create"
					, data: formData
					, enctype: "multipart/form-data"
					, processData: false
					, contentType: false
					, success:function(data) {
						if (data.code == 200) {
							location.reload();
						} else if (data.code == 403) { // 비로그인일 때
							location.href="/user/sign-in-view";
						} else {
							alert(data.error_message);
						}
					}
					, error:function(e) {
						alert("글 업로드에 실패했습니다.");
					}
				}); // ajax 끝
			}); // 글쓰기 버튼 끝
			
			// 더보기 버튼 모달 => 삭제 or 취소
			$(".more-btn").on('click', function(e) {
				//alert("응");
				e.preventDefault();
				
				
				let postId = $(this).data("post-id"); // getting
				//alert(postId);
				
				$("#modal").data('post-id', postId); //setting
				//alert($("#modal").data('post-id'));
				
				//삭제하기
				$("#postDeleteBtn").on('click', function(e) {
					e.preventDefault();
					let postId = $("#modal").data("post-id");
					//alert(postId);
					$.ajax({
						type:"delete"
						, url:"/post/delete"
						, data:{"postId" : postId}
						, success:function(data) {
							if (data.code == 200) {
								alert("삭제 성공");
								location.reload();
							}
						}
						, error:function(e) {
							alert("글을 삭제하는데 실패했습니다.")
						}
					}); //ajax끝
				}); // 삭제하기 버튼 끝
			}); // 모달 버튼 끝
			
			
		}); // document끝
    </script>
</th:block>