<!DOCTYPE html>
<html
	lang="ko" 
	xmlns:th="http://www.thymeleaf.org" 
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">


	<!-- head config -->
	<th:block th:replace="fragments/config :: configFragment">
	
<body>
	<div id="wrap">
		<!-- header -->
		<header th:replace="fragments/header :: headerFragment"></header>
		
		
		<!-- content -->
		
		<!-- script -> content 조각 안에 있음 -->
		
		
		<!-- footer -->
		<footer th:replace="fragments/footer :: footerFragment"></footer>
	</div>
</body>
</html>