<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
 <mapper namespace="com.blog.follow.mapper.FollowMapper">
 	<insert id="insertFollower" parameterType="map">
 		INSERT INTO `follow`
 		(
 			`followerUserLoginId`
			, `followingUserLoginId`
			, `createdAt`
 		)
		VALUES
		(
			#{followerUserLoginId}
			, #{followingUserLoginId}
			, NOW()
		)
 	</insert>
 </mapper>