<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<header class="bg-primary" th:fragment="headerFragment">
		<div class="h-100 d-flex justify-content-between align-items-center mx-4">
		 	<!-- 로고 영역 -->
			<div>
				<h1>BLOG</h1>
			</div>
			
			<!-- 로그인 영역 -->
			<div>
				<!-- 로그인 시 -->
				<div>
					<span th:text="'님 안녕하세요'"></span>
					<a href="#" class="text-white">로그아웃</a>
				</div>
				
				<!-- 비로그인 시 -->
				<div>
					<a href="#" class="text-white">로그인</a>
				</div>
			</div>
			
		</div>
	</header>
</html>