<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<header class="bg-primary" th:fragment="headerFragment">
		<div class="h-100 d-flex justify-content-between align-items-center mx-4">
		 	<!-- 로고 영역 -->
			<div>
				<div th:if="${session.userId != null}">
					<a href="/blog/main-blog-view"><h1>BLOG</h1></a>
				</div>
				<div th:unless="${session.userId != null}">
					<a href="/user/sign-in-view"><h1>BLOG</h1></a>
				</div>
			</div>
			
			<!-- 로그인 영역 -->
			<div>
				<!-- 로그인 시 -->
				<div th:if="${session.userId != null}">
					<span th:text="${session.userName} + '님 안녕하세요'" class="text-warning"></span>
					<a href="/user/sign-out" class="text-white">로그아웃</a>
				</div>
				
				<!-- 비로그인 시 -->
				<div th:unless="${session.userId != null}">
					<a href="/user/sign-in-view" class="text-white">로그인</a>
				</div>
			</div>
			
		</div>
	</header>
</html>