<!DOCTYPE html>
<html 
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/defaultLayout}">
<section layout:fragment="content" class="contents d-flex justify-content-center">
	<div>
		<!-- 몇 명 팔로우 요청 있는지 알려주는 태그 -->
		<div>
			<span><h1>n명의 팔로우 요청이 있습니다.</h1></span>
		</div>
		
		<!-- 그 요청한 유저들 나오게 하는 태그 예/아니오-->
		<div class="follow-request-box">
		
			<div class="d-flex justify-content-between">
				<!--  유저 이름 나오게 하기 -->
				<div>
					<span><h1>hyunwoo</h1></span>
				</div>
				
				<!-- 예, 아니오 -->
				<div class="d-flex justify-content-between">
					<button class="form-control bg-success">예</button>
					<button class="form-control bg-danger">아니오</button>
				</div>
			</div>
		</div>
	</div>
	
	
</section>

<th:block layout:fragment="script">
    <script>

    </script>
</th:block>